<h3 class="mt-4">Add Customer</h3>

<form [formGroup]="customerFormGroup" (submit)="addCustomer()" class="form-inline mb-4">
    <label for="Name" class="sr-only">
        Name
    </label>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" formControlName="name" placeholder="name" id="" class="form-control">
    </div>

    <label for="phone" class="sr-only">
        Phone
    </label>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" formControlName="phone" placeholder="phone" id="phone" class="form-control">
    </div>

    <label for="address" class="sr-only">
        Address
    </label>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" formControlName="address" placeholder="Address" id="address" class="form-control">
    </div>

    <label for="membership" class="sr-only">
        Membership
    </label>
    <div class="input-group mb-2 mr-sm-2">
        <select formControlName="membership" id="membership" class="form-control">
            <option *ngFor="let m of memberships" [ngValue]="m">
                {{ m }}
            </option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add Customer</button>
</form>